*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --bg-color: #000;
    --logo-color: #fff;
    --main-color: #CD0038;
    --second-color: #ff0000;
    --subtitles: #D7535D;
    --black: #000;
    --text-color: #fff;
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}
.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}